@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

:root {
    --font-roboto: 'Roboto', sans-serif;
    --font-bai-jamjuree: 'Bai Jamjuree', sans-serif;;
}